#header-nav {
	background-color: mistyrose;
}

#nav-list{
	background-color: pink;
}

#nav-list a:hover {
  background: rosybrown;
}

#page-heading{
	margin-top: 20px;
}

#section-tile div{

	margin-top: 20px;
	margin-bottom: 20px;
	background-color: mistyrose;
	padding-left: auto;
	padding-right: auto;
	width: 100%;
}

.section-content{
	margin: 20px;
}

#page-container{
	padding-right: 40px;
	padding-left: 40px;
}